<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styling.css" rel="stylesheet" type="text/css" >
   
    <title>Passport Training</title>

</head>
<body class="bod">

    

   <div id="navDiv" class="navDivClass"> 
    <h1 id="h1Main"> This is the home screen for Passport Tutorial by NetNinja</h1>
    <nav id="navMenu"> 

        <button id="homeButton" class="MenuButtons"> <a href="/">Home </a></button>
        <button id="loginButton" class="MenuButtons"> <a href="/auth/login">Login </a></button>
        <button id="logoutButton" class= "MenuButtons"> <a href="/auth/logout"> Logout </a></button>
      

    </nav>
    
</div>
</body>
</html>