<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styling.css" rel="stylesheet" type="text/css">
    <link href="/LogInstyling.css" rel="stylesheet" type="text/css">
    <title>Login</title>
  
</head>
<body class="bod">

    <h1 id="h1Main"> LOGIN SCREEN</h1>

     <div id="navDiv" class="navDivClass"> 
 <nav id="navMenu"> 

        <button id="homeButton" class="MenuButtons"> <a href="/">Home </a></button>
        <button id="loginButton" class="MenuButtons"> <a href="/auth/login">Login </a></button>
        <button id="loginButton" class= "MenuButtons"> <a href="/auth/logout"> Logout </a></button>
      
      <!--
        <ul>
            <li id="ListHome" class="ListButtons"><a href='/'>Home</a></li>
            <li id="ListLogin" class="ListButtons"><a href='/auth/login'>Login</a></li>
            <li id="ListLogout" class="ListButtons"><a href='/auth/logout'>Logout</a></li>
        </ul>
-->
    </nav>
    
</div>
    <main id="MainID" class="MainClass"> 
         <!-- <a class="google-btn" href="/auth/google">Google+</a> -->
        <button id="GoogleButton" class= "MenuButtons ServiceButtons"> <a href="/auth/google"> Google+ </a></button>
    </main>
  
    
</body>
</html>