<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styling.css" rel="stylesheet" type="text/css">
    <link href="/login.css" rel="stylesheet" type="text/css">
    <title>Login</title>
  
</head>
<body class="bod">

    <h1 id="h1Main"> LOGIN SCREEN</h1>

     <div id="navDiv" class="navDivClass"> 
 <nav id="navMenu"> 

        <button id="homeButton" class="MenuButtons"> <a href="/">Home </a></button>
        <button id="loginButton" class="MenuButtons"> <a href="/auth/login">Login </a></button>
        <button id="logoutButton" class= "MenuButtons"> <a href="/auth/logout"> Logout </a></button>

    </nav>
    
</div>

<div id="MainDiv" class="MainDivClass"> 
    <main id="MainID" class="MainClass"> 
        
         <div id="GoogleButtonDiv" class="GoogleClassDiv">    
        <button id="GoogleButton" class= "ServiceButtons"> <a href="/auth/google">Google+</a></button>
        </div> <!-- Google Button Div-->

        <div id="TwitchButtonDiv" class="TwitchClassDiv">
        <button id="TwitchButton" class="ServiceButtons"><a href="/auth/twitch">Twitch</a></button>
        </div>




    </main>
  </div> <!-- MainDiv div-->
    
</body>
</html>