

#GoogleButtonDiv{

  
    background-image: url("/assets/Youtube_Logo.png");
    background-repeat: no-repeat;
    background-size: 350px 150px;
    background-position: 90% 40%;
    height: 200px;
    border: 5px solid  white;
    background-color: white;
    border-radius: 25px;
    margin-top: 200px;
    margin-left: 100px;
    width: 80%;
    position: relative;

}



#GoogleButton{

    color: white;
    display: inline-block;
    font-size: 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border: 2px solid green;
    border-radius: 10%;
    background-color: red;
     text-decoration: none;
     padding-left: 5px;
     margin-left: 50px;
     position: relative;
     width: 150px;
     top: 40%;
    
}



#TwitchButtonDiv{
    background-color: rgb(144,71,255);
    background-image: url("/assets/Twitch_Logo.png");
    background-repeat: no-repeat;
    background-size: 250px 150px;
    background-position:90% 40%;
    border: 5px solid rgb(144,71,255);
    border-radius: 25px;
    width: 80%;
    margin-top: 200px;
    margin-left: 100px;
    height: 200px;
    
   

  
}

#TwitchButton
{
    color: white;
    display: inline-block;
    font-size: 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border: 2px solid green;
    border-radius: 10%;
    background-color:white;
     text-decoration: none;
     padding-left: 5px;
     margin-left: 50px;
     position: relative;
     width: 150px;
     top: 40%;

}