

#GoogleButtonDiv{

    background-color: white;
    border: 2rem solid white;
    border-radius: 50px;
    margin-top: 200px;

};

#GoogleButton{

    color: white;
    background-color: red;
    text-decoration: none;
    
};
