#mainH1Id
{
    display: flexbox;
    
    margin-top: 150px;
    margin-left: 40%;

}


#userInfoId
{

    display: flexbox;
    flex-wrap: wrap;
    width: 25%;
    margin-top: 150px;
    margin-left: 35%;
    border: 2px solid white;
    
}