
.bod {

    background-color: rgb(247, 158, 43);
    
}

.navDivClass{
    position: relative;
}

#h1Main{

    text-align: center;
    width: 50vw;
    position: absolute;
    left: 25%;
   
}



.MenuButtons
{
    background-color: lime;
    display: inline-block;
    font-size: 30px;
     padding-left: 5px;
     margin-left: 50px;
     position: relative;
     top: 100px;
     width: 150px;
     
    
}

#logoutButton{

    display: none;
}

@keyframes phase{
    from {background-color: white;}
    to {background-color: yellow;}
}

.MenuButtons:hover
{
    cursor: pointer;
    animation-name: phase;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    
    
}
